{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!--<p>{{checkTemp|yesno}}</p>-->
    <!--<p>{{ temp|yesno:"Agree,Disagree" }}</p>-->
  <!--Hi {{ user.username }}!-->
    <!--<p>{{ user.last_login }}</p>-->
    <!--<img src="{% static 'images/hi.gif' %}" align="right"></img>-->
           <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static 'images/hi.gif' %}"/>
                                        <div class="caption">
                                            <h2>Blog</h2>
                                            <p>Assignment 1 Part 1</p>
                                            <p><a class="btn btn-primary" href="blog/posts"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static 'images/lunch.jpeg' %}" alt="CRM"/>
                                        <div class="caption">
                                            <h2>CRM</h2>
                                            <p>Assignment 1 Part 2</p>
                                            <p><a class="btn btn-primary" href="crm/home"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static 'images/snek2.gif' %}" alt="Extra"/>
                                        <div class="caption">
                                            <h2>Extras</h2>
                                            <p>Snake Game</p>
                                            <p><a class="btn btn-primary" href="snek/home"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% else %}
    {% if checkTemp|yesno == "no" %}
        <!--<p>{{ user.last_login }}</p>-->
        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}">Login Here</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
        <img src="{% static 'images/hi.gif' %}" align="right"></img>
    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}">Login Here</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    {% endif %}
{% endif %}
{% endblock %}